{% extends 'base.html' %} {% block content %}
<div class="complete-outer">
	<ul class="card-area container">
		<form method="POST" action="{{ url_for('main.create_reminder') }}">
			{{ form.csrf_token }}
			<fieldset class="form-create">
				<legend>Make a new reminder</legend>
				<div class="horizontal">{{ form.name.label}} {{ form.name }}</div>
				<!--  -->
				{% for error in form.name.errors %}
				<li class="error">{{ error }}</li>
				{% endfor %}
				<!--  -->
				<div class="horizontal">
					<!-- {{ form.soft_deadline.label}} -->
					Deadline: {{form.soft_deadline(placeholder="YYYY-mm-dd")}}
				</div>
				<!--  -->
				{% for error in form.soft_deadline.errors %}
				<li class="error">{{ error }}</li>
				{% endfor %}
				<!--  -->
				<!-- <div class="horizontal">
					{{ form.hard_deadline.label}} {{
					form.hard_deadline(placeholder="YYYY-mm-dd")}}
				</div> -->
				<!--  -->
				<!-- {% for error in form.hard_deadline.errors %}
				<li class="error">{{ error }}</li>
				{% endfor %} -->
				<!--  -->
				<!-- <div class="horizontal">
					{{ form.final_deadline.label}} {{
					form.final_deadline(placeholder="YYYY-mm-dd")}}
				</div> -->
				<!--  -->
				<!-- {% for error in form.final_deadline.errors %}
				<li class="error">{{ error }}</li>
				{% endfor %} -->
				<!--  -->
				<div style="width: 200px; display: flex; flex-direction: column">
					{{ form.categories.label}} {{ form.categories }}
				</div>
				<!--  -->

				{% for error in form.categories.errors %}
				<li class="error">{{ error }}</li>
				{% endfor %}
				<!--  -->

				{{ form.submit }}
			</fieldset>
		</form>
	</ul>
</div>

{% endblock %}
