{% extends 'base.html' %} {% block content %}
<div class="complete-outer">
	<ul class="card-area container">
		{% for each in all_reminders %}
		<div class="custom-card card">
			<li>{{ each.name }}</li>
			<li>Deadline: {{ each.soft_deadline }}</li>
			<!-- <li>Hard Deadline: {{ each.hard_deadline }}</li>
			<li>Urgent Deadline: {{ each.final_deadline }}</li> -->
			<li>Categories: {{ each.categories }}</li>

			<form
				action="/fulfill_reminder/{{each.id}}"
				method="POST"
				style="align-self: center; position: absolute; bottom: 10%"
			>
				<button class="custom-button">Fulfill</button>
			</form>

			<!-- <form action="/alert_user/{{each.id}}" method="POST">
				Status: {{ each.status }}

				<div style="background-color: red; width: 50px; height: 50px"></div>
			</form> -->
		</div>
		{% endfor %}
	</ul>
</div>
{% endblock %}
