{% extends 'base.html' %} {% block content %}
<div class="complete-outer">
	<ul
		class="card-area container"
		style="flex-direction: column; align-items: center"
	>
		<h1>Log In</h1>
		<ul class="card-area container">
			<form action="/login" method="POST">
				{{ form.csrf_token }}
				<fieldset>
					<legend>Enter your credentials</legend>

					{{ form.username.label }} {{ form.username }}
					<ul>
						{% for error in form.username.errors %}
						<li class="error">{{ error }}</li>
						{% endfor %}
					</ul>

					{{ form.password.label }} {{ form.password }}
					<ul>
						{% for error in form.password.errors %}
						<li class="error">{{ error }}</li>
						{% endfor %}
					</ul>

					{{ form.submit }}
				</fieldset>
			</form>
		</ul>
	</ul>
</div>
{% endblock %}
